{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block content %}
<!-- Content -->
<section>
	<header class="main">
		<div>
			Liked: By [
			{% for action in flower.actions.all %}
				{% if action.liked == True %}
					{{ action.user.username }}, 
				{% endif %}
			{% endfor %}
			]
		</div>
		<div>
			DisLiked: By [
			{% for action in flower.actions.all %}
				{% if action.liked == False %}
					{{ action.user.username }}, 
				{% endif %}
			{% endfor %}
			]
		</div>
		<div>{{ flower.user.username }}</div>
		{% if LANGUAGE_CODE == 'ar' %}
			<h1>{{ flower.title_ar }}</h1>
		{% else %}
			<h1>{{ flower.title }}</h1>
		{% endif %}
	
		{% if user.is_authenticated %}
			<form method="POST" action="{% url 'interaction:like-flower' flower_id=flower.id %}">
				{% csrf_token %}											
					<button type="submit" value="like" name='like'><i class="far fa-heart"></i></button>
					<button type="submit" value="dislike" name='dislike'><i class="fas fa-heart-broken"></i></button>										
			</form>
			<a href="{% url 'gallery:flower-update' pk=flower.id %}">Edit</a>
			<a href="{% url 'gallery:flower-delete' pk=flower.id %}">delete</a>
		{% endif %}
	
	</header> 
	{% if flower.image %}
		<span class="image main"><img src="{{ flower.image.url }}" alt="" /></span>
	{% endif %}
	{% if LANGUAGE_CODE == 'ar' %}
		<p>{{ flower.description_ar }}</p>
	{% else %}
		<p>{{ flower.description }}</p>
	{% endif %}
</section>
{% endblock %}